<div class="sidebar">
  <div class="sidebar-sticky">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/img/green-logo.png" width="30" height="30" class="d-inline-block">
      <h3 class="d-inline-block navbar-brand-title">Green Leaf</h3>
    </a>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a routerLink="/category" routerLinkActive="active" class="nav-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2">
            <line x1="18" y1="20" x2="18" y2="10"></line>
            <line x1="12" y1="20" x2="12" y2="4"></line>
            <line x1="6" y1="20" x2="6" y2="14"></line>
          </svg>
          Categories <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/products" routerLinkActive="active" class="nav-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor"
            stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart">
            <circle cx="9" cy="21" r="1"></circle>
            <circle cx="20" cy="21" r="1"></circle>
            <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
          </svg>
          Products
        </a>
      </li>
    </ul>
  </div>
</div>
