* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../assets/bg/cartoon-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.horses {
    margin-top: 18vh;
}

.horse {

    &-gold {
        height: 13vh;
        margin-left: 160px;
        position: relative;
        left: -20vw;
    }

    &-white {
        height: 17vh;
        margin-left: 80px;
        position: relative;
        left: -20vw;
    }

    &-brown {
        height: 22vh;
        position: relative;
        left: -20vw;
    }
}

.animate {
    animation: run ease-in;
    animation-play-state: paused;
}

.cactus {
    max-height: 400px;
    position: absolute;
    right: 50px;
    bottom: 0;
}

.sign {
    position: relative;
    left: 50%;
    top: 0%;
    transform: translateX(-50%);
}

.holder {
    &-sign {
        position: relative;
    }
    &-swing {
        position: absolute;
        right: 10%;
        top: 0;
        display: none;
        transform-origin: top;
        animation: 2s;
    }
}

#start-btn {
    position: absolute;
    left: 50%;
    top: 65px;
    transform: translateX(-50%);
    font-family: "Roboto Condensed", sans-serif;
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: #44250f;
    font-size: 43px;
    line-height: 100%;
    text-shadow: 2px 2px #e8bd79,
        -2px -2px #e8bd79,
        2px -2px #e8bd79,
        -2px 2px #e8bd79;
    cursor: pointer;
}

#winner {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    top: 38%;
    transform: translateX(-50%);
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    color: #44250f;
    font-size: 30px;
    animation: 2s;
    text-shadow: 2px 2px #e8bd79,
        -2px -2px #e8bd79,
        2px -2px #e8bd79,
        -2px 2px #e8bd79;
}

@keyframes run {
    100% {
        left: 100%;
    }
}

@keyframes swing {
    0% {
        transform: rotateX(90deg);
    }

    50% {
        transform: rotateX(-30deg);
    }

    80% {
        transform: rotateX(20deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}