<div class="header container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="float-right header-user">
<img class="header-avatar" src="https://cdn.iconscout.com/icon/free/png-256/avatar-375-456327.png">
        <div ngbDropdown class="d-inline-block">
          <span class="header-name" id="dropdownBasic1" ngbDropdownToggle>John Doe </span>
          <!-- <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item" (click)="logOut()">LogOut</button>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
